body{
    margin: 0px;
    color: #40514e;
    /* margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px; */
    text-align: center;
    font-family: 'Merriweather', serif;
}
.top{
    background: #eaf6f6;
    margin-top: 0px;
    position: relative;
    padding-top: 100px;
  
}
.elon{
    width: 15%;
}
p{
    line-height: 2;
}
/* .middle{
    background-color: blue;
    width: 200px;
    height: 200px;
    border: solid 20px;
    padding: 20px;
    margin-left: 260px;
}
.bottom{
    background-color: red;
    height: 200px;
    width: 200px;
    border: solid 10px;
    padding: 20px;
    margin-left: 540px; 
}*/
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #eaf6f6;
    border-width: 6px;
    width: 4%;
    margin: 200px auto 100px;
}
h1{
    color: #66bfbf;
    /* margin-top: 0px; */
    width: 100%;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 90px;
    /* line-height: 2; */
}
.middle-container{
    margin: 100px auto 50px;
}
.bottom-container{
    background-color: #66bfbf;
    padding: 50px 0 20px;
}
h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
.topc{
    position: absolute;
    top: 40px;
    right: 300px;
}
.bottomc{
    position: absolute;
    left: 250px;
    bottom: 300px;
}
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #eaf6f6;
}
.skill-row{
    width: 50%;
    margin: 200px auto 100px auto;
    text-align: left;
}
.computer{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.chillies{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.hello{
    width: 30%;
    margin: auto;
    margin-bottom: 20px;
}
.contact-me{
    width: 40%;
    margin: 40px auto 60px auto;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
.copyright{
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}